[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
openai = "*"
requests = "*"
pydantic = "*"
couchdb = "*"
streamlit = "*"
plotly = "*"
pandas = "*"
numpy = "*"
bcrypt = "*"
email-validator = "*"
watchdog = "*"
cryptography = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.11"
