[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
openai = "*"
requests = "*"
pydantic = "*"
couchdb = "*"
pandas = "*"
numpy = "*"
bcrypt = "*"
email-validator = "*"
cryptography = "*"
langchain = "==0.1.0"
langchain-openai = "*"
langchain-core = "*"
langchain-community = "*"
chromadb = "==0.4.22"
tiktoken = "*"
gradio = "*"
watchdog = "*"
pytest = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.11"
